.search {
    padding: 7px 10px;
    width: 100%;
    margin-top: 20px;
   background: url(../../../assets/search.png) no-repeat 97% 50%;
    background-color: #dedddd;
    border: none;
    border-radius: 4px;
  }
  #myTable {
      width: 100%;
      color:#555;
      margin-top: 20px;
  }
  #myTable tr {
      background-color: #ffffff;
      border-bottom: 1px solid #cccccc;
      
  }
  #myTable tr td {
    padding: 20px 15px;
    line-height: 30px;
  }
  #myTable tr td span {
      font-size: 13px;
      color: #ababab;
  }

  /*-- Modal popup ---*/
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
     width: 100%; 
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    /* margin: 66px 6px 0 0; */
  }
  
  
  .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
  }
  
  
  .modal.right .modal-body {
    padding: 15px 15px 80px;
    color: #555;
  }
  
  .modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
  }
  
  .modal.right.fade.in .modal-dialog {
    right: 0;
  }
  
  /* ----- MODAL STYLE ----- */
  .modal-content {
    border-radius: 0;
    border: none;
  }
  
  .modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
  }
  .user_icon {
    padding: 15px;
  }
  .user_icon img {
  float: left;
    width: 50px;
    margin-right: 10px;
  }
  .user_icon .user_name {
  padding-top: 2px;
  color:#555;
  }
  .user_icon .user_name h4{
  margin: 3px 0;
  }
  
  .modal-body {
  padding: 0 !important;
  }
  .personal_details {
  border-collapse: collapse;
  width: 100%;
  }
  
  .personal_details, .personal_details td, .personal_details th {
  border: 1px solid #cccccc;
  }
  
  .personal_details td:nth-child(1){
  width: 92%;
  padding: 10px 15px;
  }
  .personal_details td:nth-child(2) {
  width: 100%;
  padding: 10px 15px;
  }
  .personal_details td span {
  color: #ababab;
  font-size: 12px;
  }
  .diabate tr td {
  padding: 6px 15px;
  }
  .diabate tr:nth-child(1) td:nth-child(2) {
  font-size: 12px;
  color: green;
  line-height: 10px;
  }
  .diabate tr:nth-child(2) td:nth-child(2) {
  font-size: 12px;
  color: maroon;
  line-height: 10px;
  }
  .diabate_score h4 {
  font-size: 14px;
  padding-left: 15px;
  color: #ababab;
  margin: 13px 0px 0;
  padding-bottom: 10px;
  }
  .diabate {
  /* border-bottom: 1px solid #cccccc; */
  width: 100%;
  }
  .address small{
  color: #ababab;
  font-size: 12px;
  }
  .address {
  padding: 15px;
  line-height: 23px;
  border-bottom: 1px solid #cccccc;
  }
  .address p {
  margin: 0;
  color: #555;
  }
  
.user_icon button span img {
    width: 25px;
    position: relative;
    top: 12px;
}
.diabate_score {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.graph {
    margin-top: 15px;
}
.graph ul {
    float: left;
    text-align: right;
}
.graph img {
    margin-left: 45px;
}
.graph ul li {
    list-style: none;
    line-height: 25px;
}
.graph ul li:nth-child(3){
    color: #3f6aec;
}
.graph ul li span {
    width: 15px;
    height: 15px;
    background-color: #3f6aec;
    display: inline-block;
    border-radius: 10px;
    top: 2px;
    position: relative;
    margin-right: 6px;
}