<div class="container-fluid">
    <input id="myInput1" type="text" placeholder="Search" class="search">
</div>   
    <table id="myTable">
        <tr data-toggle="modal" data-target="#myModal2">
            <td>Adom Cole <br> <span>69 Years,Female</span></td>
            <td><span>Last Attended:</span> <br> 5 Apr,2020</td>
        </tr>
        <tr>
            <td>Adom Cole <br> <span>69 Years,Female</span></td>
            <td><span>Last Attended:</span> <br> 5 Apr,2020</td>
        </tr>
        <tr>
            <td>Adom Cole <br> <span>69 Years,Female</span></td>
            <td><span>Last Attended:</span> <br> 5 Apr,2020</td>
        </tr>
        <tr>
            <td>Adom Cole <br> <span>69 Years,Female</span></td>
            <td><span>Last Attended:</span> <br> 5 Apr,2020</td>
        </tr>
        <tr>
            <td>Adom Cole <br> <span>69 Years,Female</span></td>
            <td><span>Last Attended:</span> <br> 5 Apr,2020</td>
        </tr>
        <tr>
            <td>Adom Cole <br> <span>69 Years,Female</span></td>
            <td><span>Last Attended:</span> <br> 5 Apr,2020</td>
        </tr>
        <tr>
            <td>Adom Cole <br> <span>69 Years,Female</span></td>
            <td><span>Last Attended:</span> <br> 5 Apr,2020</td>
        </tr>
    </table>



    <!-- Modal Popup -->
  <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="user_icon">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="../../assets/back-arrow.PNG"></span>
                    </button>
                    <img src="../../assets/user-icon.jpg">
                    <div class="user_name">
                        <h4>Adam Cole</h4>
                        <p>69 Years, Female</p>
                    </div>
                </div>
                <table class="personal_details">
                    <tr>
                        <td><span>Phone Number: </span><br>+1 123456</td>
                        <td><span>Email ID: </span><br>coleadam@gmail.com</td>
                    </tr>
                    <tr>
                        <td><span>Height (in Inches): </span><br>5"8"</td>
                        <td><span>Weight (in kgs): </span><br>62 kg</td>
                    </tr>
                    <tr>
                        <td><span>Blood Group: </span><br>B +ve</td>
                        <td><span>Diabates Score: </span><br>3/10</td>
                    </tr>
                </table>
                <div class="diabate_score">
                    <h4>Diabates Score:</h4>
                        <table class="diabate">
                            <!-- <h6>Diabates Score:</h6> -->
                            <tr>
                                <td>Osteoporosis</td>
                                <td>Ongoing Treatment</td>
                            </tr>
                            <tr>
                                <td>Heart Defect</td>
                                <td>Incurable</td>
                            </tr>
                        </table>
                        <div class="clearfix"></div>
                </div>
                <div class="address">
                    <small>Address</small>
                    <p>957,21ST,Stanford,CT,USA</p>
                </div>
                <div class="graph">
                    <ul>
                        <li>Overall Health Curve</li>
                        <li>Average</li>
                        <li><span></span>Patient</li>
                    </ul>
                    <img src="../../../assets/graph-static.svg">
                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>


