  .web_view {
    margin-top: 100px;
  }
  .web_view h3 {
    color: #555;
    /* text-transform: uppercase; */
    float: left;
    margin: 0;
  }
  table { 
    /* border-collapse: collapse;  */
    width: 100%;
} 
th { 
    background-color:#e1e6ed; 
    Color:#5a5b5d; 
    font-weight: 600;
    padding: 15px 24px !important;
} 

th, td { 
    width:218px; 
    text-align:left; 
    color: #555;
    padding: 0px 0 0 25px;
  
} 
.geeks { 
    border-right:hidden; 
} 
tr td:nth-child(5) span {
  color:#adadad;
  /* font-size: 12px; */
}
tr td:nth-child(3) {
  color: #3f6aec;
  /* text-decoration: underline; */
}
tr:hover td:nth-child(3) {
  text-decoration: underline;
}
.gfg { 
    border-collapse:separate; 
    border-spacing:0 15px; 
} 
.gfg tr {
  background-color: #ffffff;
  padding: 4px 0;
  /* height: 60px; */
  display: inherit;
    border-radius: 9px;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
}
.gfg tr:hover {
  box-shadow: 5px 2px 5px #dedede;
}
.search {
  padding: 7px 10px;
  width: 35%;
  float: right;
 background: url(../../../assets/search.png) no-repeat 97% 50%;
  background-color: #dedddd;
  border: none;
  border-radius: 4px;
  color: #555;
}
hr {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}





/*-- Modal popup ---*/
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 350px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
      transform: translate3d(0%, 0, 0);
  margin: 66px 6px 0 0;
}


.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}


.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}
.user_icon {
  padding: 15px;
}
.user_icon img {
float: left;
  width: 50px;
  margin-right: 10px;
}
.user_icon .user_name {
padding-top: 2px;
color:#555;
}
.user_icon .user_name h4{
margin: 3px 0;
}

.modal-body {
padding: 0 !important;
}
.personal_details {
border-collapse: collapse;
width: 100%;
}

.personal_details, .personal_details td, .personal_details th {
border: 1px solid #cccccc;
border-left: none;
    border-right: none;
}

.personal_details td:nth-child(1){
width: 92%;
padding: 10px 15px;
border-right: 1px solid #ccc;
}
.personal_details td:nth-child(2) {
width: 100%;
padding: 10px 15px;
}
.personal_details td span {
color: #ababab;
font-size: 12px;
}
.diabate tr td {
padding: 6px 15px;
}
.diabate tr:nth-child(2) td {
  padding: 5px 15px 18px 15px;
}
.diabate tr:nth-child(1) td:nth-child(2) {
font-size: 12px;
color: green;
line-height: 10px;
}
.diabate tr:nth-child(2) td:nth-child(2) {
font-size: 12px;
color: maroon;
line-height: 10px;
}
.diabate_score h4 {
font-size: 12px;
padding-left: 15px;
color: #ababab;
margin: 13px 0px 0;
}
.diabate {
border-bottom: 1px solid #cccccc;
width: 100%;
}
.address small{
color: #ababab;
font-size: 12px;
}
.address {
padding: 15px;
line-height: 23px;
border-bottom: 1px solid #cccccc;
}
.address p {
margin: 0;
color: #555;
}
.graph {
  margin-top: 15px;
}
.graph ul {
  float: left;
  text-align: right;
}
.graph img {
  margin-left: 45px;
}
.graph ul li {
  list-style: none;
  line-height: 25px;
}
.graph ul li:nth-child(3){
  color: #3f6aec;
}
.graph ul li span {
  width: 15px;
  height: 15px;
  background-color: #3f6aec;
  display: inline-block;
  border-radius: 10px;
  top: 2px;
  position: relative;
  margin-right: 6px;
}



/*-----Header-----*/

.navbar-inverse {
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 5px 2px 5px #dedede;
  border-radius: 0;
  position: fixed;
  width: 100%;
  top: 0;
}
.navbar-header img {
  padding: 7px 22px;
  margin-top: 4px;
}
.navbar-inverse .navbar-nav>li>a {
  padding: 12px 17px;
}
.navbar-right li img {
  width: 38px;
}
.navbar-right li {
padding: 12px 17px;
}
.navbar-inverse .navbar-nav li a:focus, 
.navbar-inverse .navbar-nav li a:hover,
.navbar-inverse .navbar-nav li a:active {
  color: #3f6aec;
  border-bottom:2px solid #3f6aec;

}
.active {
  color: #3f6aec;
  border-bottom:2px solid #3f6aec;
}
.navbar-center {
  margin-top: 10px;
}
.navbar-center li a {
  padding: 15px 17px !important;
}
.nav-tabs>li>a:hover {
background: none;

}
#tab1,
#tab2 {
border-bottom: 0 !important;
}
.nav-tabs {
float: left;
margin-top: 10px;
border: none;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
color: #337ab7;
border: none;
}
.nav-tabs>li {
  padding-bottom: 10px;
}
.nav-tabs>li:hover {
  padding-bottom: 10px;
}
.nav-tabs li a {
color: #555555;
border: none;
font-size: 15px;
}
.nav-tabs>li>a:hover {
  border-color: #ffffff;
  /* border-bottom: 2px solid #3f6aec; */
  color: #3f6aec;
  
}

