/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    background-color: #f9f9f9;
}
.modal-backdrop {
	opacity: 0 !important;
}


@media screen and (max-width:600px){
    .full_view {
        display: none;
    }
    .mobile_full {
        display: block;
    }
}
@media screen and (min-width:601px){
    .mobile_full {
        display: none;
    }
    .full_view {
        display: block;
    }
}